@use "../utilities/mixins" as *;
.teams{
    @include flex(center, center, column);
    box-shadow: 5px 3px 3px;
    // margin:3em;
    // padding: 3em;
    font-size: 1.2rem;
    border-radius: 5px 3px 3px;
    background-color: blue;
}