@use "../utilities/mixins" as *;
@include flex(center, center, column);
.btn {
    padding: 0.5em;
    margin: 1.2em;
    background-color: blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }